<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home_teacher.name %>
</p>

<%= link_to 'Edit', edit_home_teacher_path(@home_teacher) %> |
<%= link_to 'Back', home_teachers_path %>
